.below-30 {
  background-color: #f5c6cb;
}
.e-grid .e-gridheader {
  background-color: #fff0;
  border-bottom-color: #000000;
  border-top-color: #000000;
  color: rgb(0 0 0);
}
.e-pager .e-currentitem, .e-pager .e-currentitem:hover {
  background: #1650e3;
  color: #fff;
  opacity: 1;
}
