<!--<nav class="navbar navbar-light navbar-expand-lg sticky-top shadow" style="background-color: #006233;"-->
<!--     xmlns="http://www.w3.org/1999/html">-->
<!--  <img src="assets/logo.png" style="width:6%">-->
<!--  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">-->
<!--        <span class="navbar-toggler-icon"></span>-->
<!--  </button>-->
<!--  <div class=""  style="margin-left: 1%; color: white">-->
<!--    <span>REPUBLIQUE ISLAMIQUE DE MAURITANIE</span><br>-->
<!--      <span style="margin-left: 20%"> Ministère des Finances </span>-->
<!--     <h5>Direction Générale du Budget</h5>-->
<!--  </div>-->
<!--&lt;!&ndash;  <button type="button" class="btn btn-danger " (click)="logout()" style="margin-left: 60%" >Deconnexion </button>&ndash;&gt;-->
<!--</nav>-->


