<div class="container-fluid">
  <div class="row">
    <main role="main" class="col-md-12" >
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h3 class="h3">Liste Mouvements</h3>
        <div >
        </div>
        <ng-template #template>
          <div class="modal-body text-center">
            <p>Voulez vous confirmé la validation ? <br> - Tapez Confirmé : pour valider  <br> - Taper Annulé : Recommencer</p>

            <button style="margin-right: 10%" type="button" class="btn btn-warning btn-sm" (click)="decline()" >Annulé</button>

            <button type="button" class="btn btn-success btn-sm" (click)="confirm(selected)" >Confirmé</button>
          </div>
        </ng-template>
        <ng-template #template2>
          <div class="modal-body text-center">
            <p>Voulez vous confirmé les Rejets ? <br> - Tapez Confirmé : pour valider  <br> - Taper Annulé : Recommencer</p>

            <button style="margin-right: 10%" type="button" class="btn btn-warning btn-sm" (click)="decline()" >Annulé</button>

            <button type="button" class="btn btn-success btn-sm" (click)="confirm2(selected)" >Confirmé</button>
          </div>
        </ng-template>
        <button style="margin-left: auto" (click)="openModal(template)"  type="button" [disabled]="selected?.length ==0" class="btn btn-sm btn-success ml-auto">
          <i class="bi bi-check"></i> Valider ({{ selected?.length }})</button><span  style="margin-left: 1%"></span>
        <button (click)="openModal(template2)"  type="button" [disabled]="selected?.length ==0" class="btn btn-sm btn-danger">
          <i class="bi bi-trash"></i> Rejeter ({{ selected?.length }})</button>
      </div>
      <div>

        <ngx-datatable
          class="material fullscreen"

          [rows]="rows"
          [limit]="10"
          columnMode="ColumnMode.force"
          [headerHeight]="40"
          [footerHeight]="100"

          [scrollbarH]="true"
          [selected]="selected"
          [selectionType]="SelectionType.checkbox"
          (activate)="onActivate($event)"
          (select)="onSelect($event)"
          [rowHeight]="35"

        >
          <ngx-datatable-column
            [width]="30"
            [sortable]="false"
            [canAutoResize]="false"
            [draggable]="false"
            [resizeable]="false"
          >
            <ng-template
              ngx-datatable-header-template
              let-value="value"
              let-allRowsSelected="allRowsSelected"
              let-selectFn="selectFn"
            >
              <input type="checkbox" [checked]="allRowsSelected" (change)="selectFn(!allRowsSelected)" />
            </ng-template>
            <ng-template
              ngx-datatable-cell-template
              let-value="value"
              let-isSelected="isSelected"
              let-onCheckboxChangeFn="onCheckboxChangeFn"
            >
              <input type="checkbox" [checked]="isSelected" (change)="onCheckboxChangeFn($event)" />
            </ng-template>
          </ngx-datatable-column>

<!--          <ngx-datatable-column [width]="90"   *ngFor="let col of columns" [name]="col.name">-->
<!--            <ng-template let-value="value" ngx-datatable-cell-template>-->
<!--              {{value | date:'dd/MM/yyyy'}}-->
<!--            </ng-template>-->
<!--          </ngx-datatable-column>-->
          <ngx-datatable-column name="Matricule" prop="matricule" [width]="80"></ngx-datatable-column>
          <ngx-datatable-column name="A.C.Banque" prop="acdBanque" [width]="80" ></ngx-datatable-column>
          <ngx-datatable-column name="A.C.MDR" prop="acdMdr" [width]="80"></ngx-datatable-column>
          <ngx-datatable-column name="A.Nr.Compte" prop="anumeroCompte" [width]="120"></ngx-datatable-column>
          <ngx-datatable-column name="N.C.Banque" prop="ncdBanque" [width]="80"></ngx-datatable-column>
          <ngx-datatable-column name="N.C.Mdr" prop="ncdMdr" [width]="80"></ngx-datatable-column>
          <ngx-datatable-column name="N.Nr.Compte" prop="nnumeroCompte" [width]="120"></ngx-datatable-column>
          <ngx-datatable-column name="A.C.Position" prop="acdPosition" [width]="80"></ngx-datatable-column>
          <ngx-datatable-column name="A.D.Position " prop="adatePosition" [width]="120">
            <ng-template let-value="value" ngx-datatable-cell-template>
              {{value | date:'dd/MM/yyyy'}}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="N.C.Position" prop="ncdPosition" [width]="80"></ngx-datatable-column>
          <ngx-datatable-column name="N.D.Position" prop="ndateposition" [width]="120">
            <ng-template let-value="value" ngx-datatable-cell-template>
              {{value | date:'dd/MM/yyyy'}}
            </ng-template>
          </ngx-datatable-column>


<!--          <ngx-datatable-footer *ngIf="true">-->
<!--            <ng-template-->
<!--              ngx-datatable-footer-template-->
<!--              let-rowCount="rowCount"-->
<!--              let-pageSize="pageSize"-->
<!--              let-selectedCount="selectedCount"-->
<!--              let-curPage="curPage"-->
<!--              let-offset="offset"-->
<!--            >-->
<!--              <div style="padding: 5px 10px">-->
<!--                <div><strong>Summary</strong>: Gender: Female</div>-->
<!--                <hr style="width:100%" />-->
<!--                <div>Rows: {{ rowCount }} | Size: {{ pageSize }} | Current: {{ curPage }} | Offset: {{ offset }}</div>-->
<!--              </div>-->
<!--            </ng-template>-->
<!--          </ngx-datatable-footer>-->
        </ngx-datatable>

      </div>
    </main>
  </div>
</div>
